/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*this is where my CSS starts*/

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(plastic_texture_blue.jpg);
    background-size: cover;
    width: 1200px;
    height: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    border:6px double;
    border-color: rgb(43, 70, 105);
    border-radius: 60px;
    box-shadow: -10px -10px 6px 0px rgb(43, 70, 105);}

.controlPanel{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;   
    align-items: flex-start;   
    justify-items: center; 
    padding-bottom:30px;
}

h1 {
    font-size: 100px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 30px;
    margin-bottom: 20px;
    }

.board {
    grid-area: 1/2/4/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawingArea{
    background-color: antiquewhite;
    display:grid;
    height:100%;    
    width: 700px;
    height:620px;
    border: 5px groove;
    border-color: rgb(43, 70, 105);
    border-radius: 5px;
    margin-bottom: 10px;
    }

button{
    background-color: rgb(238, 222, 233);
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    height:auto;
    margin-top: 20px;
    margin-left:30px;
    margin-right: 20px;
    font-size: 35px;
    font-family: cursive;
    font-style: bold;
    border-radius: 10px;
    border: 4px groove;
    border-color: rgb(43, 70, 105);
    box-shadow: -10px -10px 6px 0px rgb(43, 70, 105);
}

button:hover{
    transform: scale(1.02);
    cursor:grab;
}

.colorPreview{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorPreviewBlack, .colorPreviewRainbow {
    background-color: rgb(43, 42, 42);
    width: 35px;
    height:35px;
    border-radius: 50%;
    border: 3px solid;
    border-color: black;
    margin: 15px 20px 0px 0px;
    box-shadow: none;
    }

.colorPreviewRainbow{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);;
}

#circle1, #circle2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width:140px;
    height:140px;
    border-radius: 50%;
    box-shadow: -10px -10px 6px 0px rgb(43, 70, 105);
    border: 6px double;
    border-color: rgb(233, 218, 199);
    }

#circle1{
    grid-area: 3/1/4/2;
}

#circle2{
    grid-area: 3/3/4/4;
}

.gridsize-slider{
    grid-area: 2/1/3/2;

}

#penBtn{
    margin-bottom: 16px;
}
.center{
    background-color: rgb(214, 205, 188);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px double;
    border-color: rgb(214, 205, 188);
    
}

label{
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-left:60px;
    margin-right: 20px;
    color: rgb(238, 222, 233);
     }

.gridsize-output{
    font-size: 20px;
    position:relative;
    margin-left:92px;
    font-weight: 700;
    color: rgb(238, 222, 233);
}

input[type=range]{
    -webkit-appearance: none;
    margin-left: 57px;
    margin-bottom: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(43, 42, 42);
    margin-top: -4px;
}